body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}

a {
  color: #03A9F4;
}

.wrapper {
  width: 900px;
  margin: 20px auto;
}

.game {
border: 1px solid #aaa;
}

.player {
  display: inline-block;
  width: 299px;
  vertical-align: top;
}

.player .header {
padding: 20px;
border-bottom: 1px solid #aaa;
}

.board {
  padding: 20px;
}

.buttons a {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #eee;
  display: inline-block;
  margin: 5px;
}

.choice {
  padding: 30px;
}

.score {
  width: 291px;
  display: inline-block;
  border-left: 1px solid #aaa;
  height: 500px;
  border-right: 1px solid #aaa;
  margin: 0 -4px;
  vertical-align: top;
}

.result {
  height: 58.33px;
  border-bottom: 1px solid #aaa;
}

.result div {
display: inline-block;
width: 32%;
padding-bottom: 5px;
}

.result p {
  margin: 5px 0 6px;
}

.tie {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.rounds p {
border-bottom: 1px solid #aaa;
padding-bottom: 10px;
margin-bottom: 0;
}

.round {
padding: 10px;
border-bottom: 1px solid #aaa;
}

.round .winner {
color: green;
}

.round div {
display: inline-block;
width: 32%;
}

.btn {
padding: 10px 30px;
display: inline-block;
background-color: #eee;
margin-bottom: 20px;
cursor: pointer;
}

.left {
  float: left;
}
